*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #d3d3d3;
  font-size: 12px;
}

.container {
  width: 375px;
  margin: 0 auto;
  height: 667px;
  overflow: scroll;
}

/* Nav Styles */

.nav {
  background-image: url(../images/ios-status-bar.png);
  background-repeat: no-repeat;
  background-color: blue;
  padding: 20px;
  height: 125px;
  position: fixed;
  width: 100%;
}

.left-arrow {
  background-image: url(../images/arrow-left.png);
  background-repeat: no-repeat;
  float: left;
  width: 10%;
  height: 30px;
  margin-top: 30px;
}

.icon {
  background-image: url(../images/busy-bus-icon-2.png);
  background-repeat: no-repeat;
  margin-left: 30px;
  float: left;
  width: 15%;
  height: 30px;
  margin-top: 30px;
}

.nav h1 {
  font-size: 2.2em;
  font-family: "sf pro display", sans-serif;
  text-align: center;
  color: #ffffff;
  margin-top: 32px;
}


/* Map Styles */

.map {
  background-image: url(../images/busy-bus-map.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 125px;
  width: 100%;
  height: 200px;
}

/* Bus Route List Styling */

.bus-route {
  border-bottom: 1px;
  border-style: solid;
  border-color: grey;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  display: block;
  float: left;
}


.bus-route p {
  font-size: 1.2em;
  font-family: "sf pro display", sans-serif;
  float: left;
}

.busline {
  width: 65%;
  height: 100px;
  float: left;
  padding-top: 15px;
  padding-left: 10px;
}

.busline h2 {
  font-size: 3em;
  font-family: "sf pro display", sans-serif;
  float: left;
  font-weight: bold;
  color: blue;
  margin-right: 70px;
}

h2.red {
  color: red;
}

.busline p {
  font-size: 1.4em;
  font-weight: bold;
  margin-right: 40px;
  padding-left: 4px;
}

p.direction {
  font-weight: normal;
  font-size: 1.2em;
  margin-top: 5px;
  float: left;
}

.time {
  width: 35%;
  height: 100px;
  float: left;
  padding-right: 10px;
  padding-top: 25px;
  text-align: right;
}

.time h3 {
  font-size: 2.3em;
  color: green;
  font-family: "sf pro display", sans-serif;
  font-weight: bold;
  margin-right: 5px;
}

h3.red {
  color:red;
}
