*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #d3d3d3;
  font-size: 12px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.nav {
  background-image: url(../images/ios-status-bar.png);
  background-repeat: no-repeat;
}

.left-arrow {
  background-image: url(../images/arrow-left.png);
  background-repeat: no-repeat;
  float: left;
  /* margin-left: 50px; */
  width: 30px;
  height:30px;
}

.icon {
  background-image: url(../images/busy-bus-icon-2.png);
  background-repeat: no-repeat;
  /* margin-left: 50px; */
  float: left;
  width: 40px;
  height: 40px;
}

.nav h1 {
  font-size: 2.2em;
  font-family: "sf pro display", sans-serif;
  text-align: center;
  margin: 25px 0px;
  color: #ffffff;
}

.nav {
  background-color: blue;
  padding: 20px;
}
.map {
  background-image: url(../images/busy-bus-map.png);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}
.bus-route {
  border-bottom: 1px;
  border-style: solid;
  border-color: grey;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  display: block;
  float: left;
}

.content {
  padding: 25px 10px;
}

.content h2 {
  font-size: 2.5em;
  font-family: "sf pro display", sans-serif;
  float: left;
  font-weight: bold;
}

.content h3 {
  font-size: 1.2em;
  font-family: "sf pro display", sans-serif;
  float: left;
}

.busline {
  margin-left: 3px;
}

.busline h2 {
  color: blue;
}

.street {
  margin-left: 32px;
  margin-top: 12px;
}

.street h3 {
  font-size: 1.3em;
  font-weight: bold;
  color: #2b2c2d;
}

.time h2 {
  color: green;
  margin-left: 33px;
}

.ampm h3 {
  font-size: 1.5em;
  color: green;
  margin-top: 11px;
}

.direction h3 {
  padding-left: 3px;
  padding-top: 5px;
  color: grey;
}

.frequency h3 {
  margin-left: 160px;
  padding-top: 5px;
  float: right;
  color: grey;
}
